<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Spline+Sans%3Awght%40400%3B500%3B700" />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>

<body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#122118] dark group/design-root overflow-x-hidden"
        style='font-family: "Spline Sans", "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow flex-col">
            <div class="gap-1 px-6 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col w-80">
                    <div class="px-4 py-3">
                        <label class="flex flex-col min-w-40 h-12 w-full">
                            <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                                <div class="text-[#96c5a9] flex border-none bg-[#264532] items-center justify-center pl-4 rounded-l-xl border-r-0"
                                    data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                        fill="currentColor" viewBox="0 0 256 256">
                                        <path
                                            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z">
                                        </path>
                                    </svg>
                                </div>
                                <input placeholder="Search or start new chat"
                                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#264532] focus:border-none h-full placeholder:text-[#96c5a9] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                                    value="" />
                            </div>
                        </label>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-[72px] py-2 justify-between">
                        <div class="flex items-center gap-4">
                            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBFq9XrgCPRYrq0mxMsFYKz3YsIPr9Njrt9HNvHGgvHxpDIgXPy5pS2aTo8g6TI7Sm3MTcSbyvpim9iFXWIHayxLPqHQuP2sONRgl_ECwG83l-ZBrIcpejRlcwMOGSFa44Px49VrCKMB2buoNGNfmICBiRNcBwwz65zxhdZzappxiAfI3SJ93KtiO2EyNeuAuEOoapn0UBeo0mDvF9GDGvqjuGaYcOX84OoN_vQOrORxPn4bv54ejMs0yFur4wKbn_ueaf6W0vXzQ");'>
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-white text-base font-medium leading-normal line-clamp-1">Customer Support
                                </p>
                                <p class="text-[#96c5a9] text-sm font-normal leading-normal line-clamp-2">Last message
                                    preview...</p>
                            </div>
                        </div>
                        <div class="shrink-0">
                            <div class="flex size-7 items-center justify-center">
                                <div class="size-3 rounded-full bg-[#0bda43]"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-[72px] py-2">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB5t_YYVPOTsDt2nYvlI-sSrPwRKoTFElDomn-j_yLQE9qmwSrd_W8GwhHPPDDYK79iTipOrZWcIZ_Rmz2irAK2ZmpMKWYfDYm5SM6pHYkmXhCyjb3u-lSw08rJERP8NjbGQpCm7Xw5n4FvLjDAjUW6oxMnxzKjMP9QyZuK_klMh-7IH2jZRkrq2Y4WGUF4VQyv7IgrN95xDoK0w53BVtyRIjbZ2bAY-heQMjnW0Nsq7478yh686RU_uWFZt0GrR0BWUkCpZE8isA");'>
                        </div>
                        <div class="flex flex-col justify-center">
                            <p class="text-white text-base font-medium leading-normal line-clamp-1">Sales Team</p>
                            <p class="text-[#96c5a9] text-sm font-normal leading-normal line-clamp-2">Last message
                                preview...</p>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-[72px] py-2 justify-between">
                        <div class="flex items-center gap-4">
                            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBDi00fg6UZm4XrZEpQGqTfRUEdpLZg8dmMHBoda2ulLkbR64VsEt9_x1jofDp8qNxu6o8XPMh3gbW6xnHCgjWrOZnkVygJ2EZ0zWKGURfuwISAhOEPfgcoZO72AIXZwUktdHTSiKflOKd8EBkGiBGSuIRfgGQNbGHrBP8CZ73TGi6cwvWduWBy3w75nSKnplky9hPcmdgIAsPYD881lCOB0syOf_G7P8LrzHErOCR-W82FHr06eoT3Zk4xPgFxZOl4dquwFdxCRA");'>
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-white text-base font-medium leading-normal line-clamp-1">Technical
                                    Support</p>
                                <p class="text-[#96c5a9] text-sm font-normal leading-normal line-clamp-2">Last message
                                    preview...</p>
                            </div>
                        </div>
                        <div class="shrink-0">
                            <div class="flex size-7 items-center justify-center">
                                <div class="size-3 rounded-full bg-[#0bda43]"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-[72px] py-2">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDCOHZ6rdPa-Ml3kOjVbYnR39FMsTzP6XqHFkUMLwZepVjA-1trUXVRbLaLKjGBtGa0KzseGDchvk_zC3EyBX-Hs-naOuVyFmFX6jmQSvKxjZ422exiDZ_coDW4V3qDDaFZeZ9WxHz62yYivVlZS5V17t9z4fM7ENq7oeKS7rOz-9sYSaN1ZtgT7g8uOIkWOIUSZA6z29bp-EvDyBEn_zdQRbjDcTHCnTwbCRp5K3EnVUKw836hdlyMeaEs45n3DjYcSfbKF3mW5g");'>
                        </div>
                        <div class="flex flex-col justify-center">
                            <p class="text-white text-base font-medium leading-normal line-clamp-1">Billing Inquiries
                            </p>
                            <p class="text-[#96c5a9] text-sm font-normal leading-normal line-clamp-2">Last message
                                preview...</p>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-[72px] py-2">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBc4QOpbvkRVT3ccSieT2AMRpo5uG4BXNVZtuH0lVcrbTOUCgmR9rE7JmrlUBR0xCCUq4q17GlEEgj6dgLg9-uOSPlL1EqHYIrsLjKHOuTD0t84mY0dFYHw96dh-47tMA49JWvbkrgH7uDwS4td1sDFQO_kjI3mWnfr_ZwAW9jvIqJDhz7dEE4RrMP0uMmROb4X78USqH_wlo3daHMkNnuJFa6JqlK-j_3A4DmJKTuVs3xAkI3fCcuKG29j9KmNmjMFyG-4f2FYXA");'>
                        </div>
                        <div class="flex flex-col justify-center">
                            <p class="text-white text-base font-medium leading-normal line-clamp-1">General Questions
                            </p>
                            <p class="text-[#96c5a9] text-sm font-normal leading-normal line-clamp-2">Last message
                                preview...</p>
                        </div>
                    </div>
                </div>
                <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                    <header
                        class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#264532] px-10 py-3">
                        <div class="flex items-center gap-4 text-white">
                            <div class="size-4">
                                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_6_330)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
                                            fill="currentColor"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_6_330">
                                            <rect width="48" height="48" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">walkintothewild
                            </h2>
                        </div>
                        <div class="flex flex-1 justify-end gap-8">
                            <div class="flex gap-2">
                                <button
                                    class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#264532] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
                                    <div class="text-white" data-icon="DotsNine" data-size="20px" data-weight="regular">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M72,60A12,12,0,1,1,60,48,12,12,0,0,1,72,60Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,128,48Zm68,24a12,12,0,1,0-12-12A12,12,0,0,0,196,72ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,128,116Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,184a12,12,0,1,0,12,12A12,12,0,0,0,60,184Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,128,184Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,196,184Z">
                                            </path>
                                        </svg>
                                    </div>
                                </button>
                                <button
                                    class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#264532] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
                                    <div class="text-white" data-icon="Archive" data-size="20px" data-weight="regular">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M224,48H32A16,16,0,0,0,16,64V88a16,16,0,0,0,16,16v88a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V104a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48ZM208,192H48V104H208ZM224,88H32V64H224V88ZM96,136a8,8,0,0,1,8-8h48a8,8,0,0,1,0,16H104A8,8,0,0,1,96,136Z">
                                            </path>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDgoAsAuAjmzPF5wz1U7j3rzwAdqnHWng7pWc3R0_tsxtm2iL-nQ1If8B_yS0QwCixI5KedsVRgSU72gq1W_Q4y0X-mAfuSWiR7ZgPyn8qttZYMluOAGIn0loXzCJf2utlOPPZA7pCzH9d23hSlL1S6eYCtCAG5mytYAZY1FObUW0w61PR9xRojQT6ErSmLy6ySX8C3WsK3CckE3WXBiQZGn126MZ8OBhuPF_WqfN-ZINDJIHSwyIjc6AXg4iqNUXCOJcDmYno1wA");'>
                            </div>
                        </div>
                    </header>
                    <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
                        Settings</h2>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-14 justify-between">
                        <p class="text-white text-base font-normal leading-normal flex-1 truncate">Theme</p>
                        <div class="shrink-0">
                            <p class="text-white text-base font-normal leading-normal">Light</p>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-3 p-4">
                        <label
                            class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#366348] px-4 h-11 text-white has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#38e07b] relative cursor-pointer">
                            Light
                            <input type="radio" class="invisible absolute"
                                name="af64980a-6a96-4e19-8f0c-d4f2dc5e5b7d" />
                        </label>
                        <label
                            class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#366348] px-4 h-11 text-white has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#38e07b] relative cursor-pointer">
                            Dark
                            <input type="radio" class="invisible absolute"
                                name="af64980a-6a96-4e19-8f0c-d4f2dc5e5b7d" />
                        </label>
                        <label
                            class="text-sm font-medium leading-normal flex items-center justify-center rounded-xl border border-[#366348] px-4 h-11 text-white has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#38e07b] relative cursor-pointer">
                            System Default
                            <input type="radio" class="invisible absolute"
                                name="af64980a-6a96-4e19-8f0c-d4f2dc5e5b7d" />
                        </label>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-14 justify-between">
                        <p class="text-white text-base font-normal leading-normal flex-1 truncate">Notifications</p>
                        <div class="shrink-0">
                            <label
                                class="relative flex h-[31px] w-[51px] cursor-pointer items-center rounded-full border-none bg-[#264532] p-0.5 has-[:checked]:justify-end has-[:checked]:bg-[#38e07b]">
                                <div class="h-full w-[27px] rounded-full bg-white"
                                    style="box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px, rgba(0, 0, 0, 0.06) 0px 3px 1px;">
                                </div>
                                <input type="checkbox" class="invisible absolute" />
                            </label>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-14 justify-between">
                        <p class="text-white text-base font-normal leading-normal flex-1 truncate">Sound</p>
                        <div class="shrink-0">
                            <label
                                class="relative flex h-[31px] w-[51px] cursor-pointer items-center rounded-full border-none bg-[#264532] p-0.5 has-[:checked]:justify-end has-[:checked]:bg-[#38e07b]">
                                <div class="h-full w-[27px] rounded-full bg-white"
                                    style="box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px, rgba(0, 0, 0, 0.06) 0px 3px 1px;">
                                </div>
                                <input type="checkbox" class="invisible absolute" />
                            </label>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-14 justify-between">
                        <p class="text-white text-base font-normal leading-normal flex-1 truncate">Privacy</p>
                        <div class="shrink-0"><button class="text-base font-medium leading-normal">Manage</button></div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-14 justify-between">
                        <p class="text-white text-base font-normal leading-normal flex-1 truncate">Help</p>
                        <div class="shrink-0"><button class="text-base font-medium leading-normal">View</button></div>
                    </div>
                    <div class="flex items-center gap-4 bg-[#122118] px-4 min-h-14 justify-between">
                        <p class="text-white text-base font-normal leading-normal flex-1 truncate">About</p>
                        <div class="shrink-0"><button class="text-base font-medium leading-normal">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>