<html>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
  <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
    href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Spline+Sans%3Awght%40400%3B500%3B700" />

  <title>Walk Into The Wild Whatsapp</title>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>

<body>
  <div class="relative flex size-full min-h-screen flex-col bg-[#141f18] dark group/design-root overflow-x-hidden"
    style='font-family: "Spline Sans", "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
      <div class="gap-1 px-6 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col w-80">
          <div class="px-4 py-3">
            <label class="flex flex-col min-w-40 h-12 w-full">
              <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                <div
                  class="text-[#9bbfaa] flex border-none bg-[#2a4133] items-center justify-center pl-4 rounded-l-xl border-r-0"
                  data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z">
                    </path>
                  </svg>
                </div>
                <input placeholder="Search or start new chat"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#2a4133] focus:border-none h-full placeholder:text-[#9bbfaa] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  value="" />
              </div>
            </label>
          </div>
          <div class="flex items-center gap-4 bg-[#141f18] px-4 min-h-[72px] py-2 justify-between">
            <div class="flex items-center gap-4">
              <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBFq9XrgCPRYrq0mxMsFYKz3YsIPr9Njrt9HNvHGgvHxpDIgXPy5pS2aTo8g6TI7Sm3MTcSbyvpim9iFXWIHayxLPqHQuP2sONRgl_ECwG83l-ZBrIcpejRlcwMOGSFa44Px49VrCKMB2buoNGNfmICBiRNcBwwz65zxhdZzappxiAfI3SJ93KtiO2EyNeuAuEOoapn0UBeo0mDvF9GDGvqjuGaYcOX84OoN_vQOrORxPn4bv54ejMs0yFur4wKbn_ueaf6W0vXzQ");'>
              </div>
              <div class="flex flex-col justify-center">
                <p class="text-white text-base font-medium leading-normal line-clamp-1">Customer Support</p>
                <p class="text-[#9bbfaa] text-sm font-normal leading-normal line-clamp-2">Last message preview...</p>
              </div>
            </div>
            <div class="shrink-0">
              <div class="flex size-7 items-center justify-center">
                <div class="size-3 rounded-full bg-[#0bda43]"></div>
              </div>
            </div>
          </div>
          <div class="flex items-center gap-4 bg-[#141f18] px-4 min-h-[72px] py-2">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB5t_YYVPOTsDt2nYvlI-sSrPwRKoTFElDomn-j_yLQE9qmwSrd_W8GwhHPPDDYK79iTipOrZWcIZ_Rmz2irAK2ZmpMKWYfDYm5SM6pHYkmXhCyjb3u-lSw08rJERP8NjbGQpCm7Xw5n4FvLjDAjUW6oxMnxzKjMP9QyZuK_klMh-7IH2jZRkrq2Y4WGUF4VQyv7IgrN95xDoK0w53BVtyRIjbZ2bAY-heQMjnW0Nsq7478yh686RU_uWFZt0GrR0BWUkCpZE8isA");'>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-white text-base font-medium leading-normal line-clamp-1">Sales Team</p>
              <p class="text-[#9bbfaa] text-sm font-normal leading-normal line-clamp-2">Last message preview...</p>
            </div>
          </div>
          <div class="flex items-center gap-4 bg-[#141f18] px-4 min-h-[72px] py-2 justify-between">
            <div class="flex items-center gap-4">
              <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBDi00fg6UZm4XrZEpQGqTfRUEdpLZg8dmMHBoda2ulLkbR64VsEt9_x1jofDp8qNxu6o8XPMh3gbW6xnHCgjWrOZnkVygJ2EZ0zWKGURfuwISAhOEPfgcoZO72AIXZwUktdHTSiKflOKd8EBkGiBGSuIRfgGQNbGHrBP8CZ73TGi6cwvWduWBy3w75nSKnplky9hPcmdgIAsPYD881lCOB0syOf_G7P8LrzHErOCR-W82FHr06eoT3Zk4xPgFxZOl4dquwFdxCRA");'>
              </div>
              <div class="flex flex-col justify-center">
                <p class="text-white text-base font-medium leading-normal line-clamp-1">Technical Support</p>
                <p class="text-[#9bbfaa] text-sm font-normal leading-normal line-clamp-2">Last message preview...</p>
              </div>
            </div>
            <div class="shrink-0">
              <div class="flex size-7 items-center justify-center">
                <div class="size-3 rounded-full bg-[#0bda43]"></div>
              </div>
            </div>
          </div>
          <div class="flex items-center gap-4 bg-[#141f18] px-4 min-h-[72px] py-2">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDCOHZ6rdPa-Ml3kOjVbYnR39FMsTzP6XqHFkUMLwZepVjA-1trUXVRbLaLKjGBtGa0KzseGDchvk_zC3EyBX-Hs-naOuVyFmFX6jmQSvKxjZ422exiDZ_coDW4V3qDDaFZeZ9WxHz62yYivVlZS5V17t9z4fM7ENq7oeKS7rOz-9sYSaN1ZtgT7g8uOIkWOIUSZA6z29bp-EvDyBEn_zdQRbjDcTHCnTwbCRp5K3EnVUKw836hdlyMeaEs45n3DjYcSfbKF3mW5g");'>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-white text-base font-medium leading-normal line-clamp-1">Billing Inquiries</p>
              <p class="text-[#9bbfaa] text-sm font-normal leading-normal line-clamp-2">Last message preview...</p>
            </div>
          </div>
          <div class="flex items-center gap-4 bg-[#141f18] px-4 min-h-[72px] py-2">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBc4QOpbvkRVT3ccSieT2AMRpo5uG4BXNVZtuH0lVcrbTOUCgmR9rE7JmrlUBR0xCCUq4q17GlEEgj6dgLg9-uOSPlL1EqHYIrsLjKHOuTD0t84mY0dFYHw96dh-47tMA49JWvbkrgH7uDwS4td1sDFQO_kjI3mWnfr_ZwAW9jvIqJDhz7dEE4RrMP0uMmROb4X78USqH_wlo3daHMkNnuJFa6JqlK-j_3A4DmJKTuVs3xAkI3fCcuKG29j9KmNmjMFyG-4f2FYXA");'>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-white text-base font-medium leading-normal line-clamp-1">General Questions</p>
              <p class="text-[#9bbfaa] text-sm font-normal leading-normal line-clamp-2">Last message preview...</p>
            </div>
          </div>
        </div>
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
          <header
            class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2a4133] px-10 py-3">
            <div class="flex items-center gap-4 text-white">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_6_330)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
                      fill="currentColor"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_6_330">
                      <rect width="48" height="48" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">walkintothewild</h2>
            </div>
            <div class="flex flex-1 justify-end gap-8">
              <div class="flex gap-2">
                <button
                  class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#2a4133] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
                  <div class="text-white" data-icon="DotsNine" data-size="20px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor"
                      viewBox="0 0 256 256">
                      <path
                        d="M72,60A12,12,0,1,1,60,48,12,12,0,0,1,72,60Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,128,48Zm68,24a12,12,0,1,0-12-12A12,12,0,0,0,196,72ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,128,116Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,184a12,12,0,1,0,12,12A12,12,0,0,0,60,184Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,128,184Zm68,0a12,12,0,1,0,12,12A12,12,0,0,0,196,184Z">
                      </path>
                    </svg>
                  </div>
                </button>
                <button
                  class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#2a4133] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
                  <div class="text-white" data-icon="Archive" data-size="20px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor"
                      viewBox="0 0 256 256">
                      <path
                        d="M224,48H32A16,16,0,0,0,16,64V88a16,16,0,0,0,16,16v88a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V104a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48ZM208,192H48V104H208ZM224,88H32V64H224V88ZM96,136a8,8,0,0,1,8-8h48a8,8,0,0,1,0,16H104A8,8,0,0,1,96,136Z">
                      </path>
                    </svg>
                  </div>
                </button>
              </div>
              <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDgoAsAuAjmzPF5wz1U7j3rzwAdqnHWng7pWc3R0_tsxtm2iL-nQ1If8B_yS0QwCixI5KedsVRgSU72gq1W_Q4y0X-mAfuSWiR7ZgPyn8qttZYMluOAGIn0loXzCJf2utlOPPZA7pCzH9d23hSlL1S6eYCtCAG5mytYAZY1FObUW0w61PR9xRojQT6ErSmLy6ySX8C3WsK3CckE3WXBiQZGn126MZ8OBhuPF_WqfN-ZINDJIHSwyIjc6AXg4iqNUXCOJcDmYno1wA");'>
              </div>
            </div>
          </header>
          <p class="text-[#9bbfaa] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center">Today, 10:30 AM</p>
          <div class="flex items-end gap-3 p-4">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD436-gEjhu3Cm09y_Vm4hvh1CJ32R33pTUpPsoC-HansHyzti9J4hTpSCSsKLSUR7JtFzzIZTaVnr42GgBbKl_x7mrFSyLwGAkhHGokjglrKSlGTiL9UckH9fzBjZvV4yPNjB-zyapj_PPxb4h8mpoh_zZi-15cVxNL4Vn7ixn_PvQWzme5T5pRYDkANx6BT-G9kfu-6vd6Dzh9QSQQgGlYsv39t8wqIF1Md12BvSQt8_3mOZKLoZHLLqx17HWbFbJOrzG1PZD_g");'>
            </div>
            <div class="flex flex-1 flex-col gap-1 items-start">
              <p class="text-[#9bbfaa] text-[13px] font-normal leading-normal max-w-[360px]">Customer Support</p>
              <p
                class="text-base font-normal leading-normal flex max-w-[360px] rounded-xl px-4 py-3 bg-[#2a4133] text-white">
                Hello! How can we assist you today?</p>
            </div>
          </div>
          <p class="text-[#9bbfaa] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center">Today, 10:35 AM</p>
          <div class="flex items-end gap-3 p-4 justify-end">
            <div class="flex flex-1 flex-col gap-1 items-end">
              <p class="text-[#9bbfaa] text-[13px] font-normal leading-normal max-w-[360px] text-right">You</p>
              <p
                class="text-base font-normal leading-normal flex max-w-[360px] rounded-xl px-4 py-3 bg-[#94e0b2] text-[#141f18]">
                Hi there, I have a question about my recent order.
              </p>
            </div>
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCnKAzEA5NPV9xKsQh6fLXY2Ks9CAntZROfydjGsr9zlrsFgkXAKqOI9dauSlrauq9pSjOmzHmzSFrzLhU_TBJl8wSD7ppg6IgE8pUVaFmpAmS8s6yImEsnsnWlbc893zWXl-Rm6MrWfopdLjEVylVvqxFq8bY38W8JY5uQYGxrdNoua9Wb7UmgTzZGsTS7uuXNSRfq3Ht6BmeS_g2tTpDaa8V4GUf4SSUyCVf4bz13-nTUX3CijF3CIJELqs_qSYvJSbbSZev1Og");'>
            </div>
          </div>
          <p class="text-[#9bbfaa] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center">Today, 10:40 AM</p>
          <div class="flex items-end gap-3 p-4">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAwP2W5qJdCEmInqDFWZxswAwTg76WyvinkpaEKneInGKCM1k7BJgkEE02GxrESXeP5z0dPGWbXKb5CMbg72Xkxqwj5x4o21iuiTn_nWGFfKUQKEbpa2Be8CIG3iSQdifXydWdIdptB4whZj_SiLIcz3Hc0qPEvAJF1M6B98I-CDNIBKCT1Q4NPv9sSdNQM0-zi-3HLKkOTZJNWVW8Fc4ILk0mO1tQajF5gEn-3UvwQqcVSJAoZ2GkT-N_wyAJeLsUQf1jqpNQzrQ");'>
            </div>
            <div class="flex flex-1 flex-col gap-1 items-start">
              <p class="text-[#9bbfaa] text-[13px] font-normal leading-normal max-w-[360px]">Customer Support</p>
              <p
                class="text-base font-normal leading-normal flex max-w-[360px] rounded-xl px-4 py-3 bg-[#2a4133] text-white">
                Sure, I can help with that. Could you please provide your order number?
              </p>
            </div>
          </div>
          <div class="flex items-center px-4 py-3 gap-3 @container">
            <label class="flex flex-col min-w-40 h-12 flex-1">
              <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                <input placeholder="Type a message"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#2a4133] focus:border-none h-full placeholder:text-[#9bbfaa] px-4 rounded-r-none border-r-0 pr-2 text-base font-normal leading-normal"
                  value="" />
                <div
                  class="flex border-none bg-[#2a4133] items-center justify-center pr-4 rounded-r-xl border-l-0 !pr-2">
                  <div class="flex items-center gap-4 justify-end">
                    <div class="flex items-center gap-1">
                      <button class="flex items-center justify-center p-1.5">
                        <div class="text-[#9bbfaa]" data-icon="Smiley" data-size="20px" data-weight="regular">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                              d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216ZM80,108a12,12,0,1,1,12,12A12,12,0,0,1,80,108Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,176,108Zm-1.07,48c-10.29,17.79-27.4,28-46.93,28s-36.63-10.2-46.92-28a8,8,0,1,1,13.84-8c7.47,12.91,19.21,20,33.08,20s25.61-7.1,33.07-20a8,8,0,0,1,13.86,8Z">
                            </path>
                          </svg>
                        </div>
                      </button>
                      <button class="flex items-center justify-center p-1.5">
                        <div class="text-[#9bbfaa]" data-icon="Paperclip" data-size="20px" data-weight="regular">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                              d="M209.66,122.34a8,8,0,0,1,0,11.32l-82.05,82a56,56,0,0,1-79.2-79.21L147.67,35.73a40,40,0,1,1,56.61,56.55L105,193A24,24,0,1,1,71,159L154.3,74.38A8,8,0,1,1,165.7,85.6L82.39,170.31a8,8,0,1,0,11.27,11.36L192.93,81A24,24,0,1,0,159,47L59.76,147.68a40,40,0,1,0,56.53,56.62l82.06-82A8,8,0,0,1,209.66,122.34Z">
                            </path>
                          </svg>
                        </div>
                      </button>
                    </div>
                    <button
                      class="min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#94e0b2] text-[#141f18] text-sm font-medium leading-normal hidden @[480px]:block">
                      <span class="truncate">Send</span>
                    </button>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>