@media only screen and (min-width: 1600px) {
  .padding_setCard {
    padding: 0px 70px;
  }
  .padding_setCard .shareimg {
    height: 190px;
  }

  .tourpackage .shareimg {
    height: 232px;
  }

  .postthumbnail img {
    height: 56px;
    object-fit: cover;
  }

  .title_web h2 {
    font-size: var(--fs-40);
    text-align: center;
  }

  .shareimg {
    width: 100%;
    height: 178px;
    object-fit: cover;
  }

  /* .desktop_postion {

        position: absolute;
        bottom: -12px;
        width: 100%;
    } */

  /* .seelctes_text {

        height: 155px !important;
        overflow: hidden;
    } */

  /* .artical_cards {

        width: 420px;
    } */

  .slider_safariimg {
    height: 350px;
  }

  .single-image img {
    height: 315px;
    object-fit: cover;
  }

  /* .top_opratorsBox .tourLogoes {

        padding: 0px 13px 0px 8px;
    } */
  .searchSafari_wraper .row .col-xl-3 {
    width: auto !important;
  }

  /* .main_homebanner .banner_searchBox {
        position: absolute;
        top: 79.5%;
        height: 100%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
    } */

  /* .listingSafari {
        width: 300px;
    } */

  .padding_right {
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 1500.99px) and (max-width: 1700px) {
  .searchSafari_wraper .Slider_safariimg3 {
    height: 300px !important;
    /* width: 303px; */
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1580px) {
  .searchSafari_wraper .Slider_safariimg3 {
    height: 300px !important;
    /* width: 270px !important; */
  }
  /* .title_safari.JoinPadding{

    flex-direction: column;
    justify-content: center;
  } */
  .title_safari.JoinPadding .joinshareView{

    margin-top: 14px!important;
  }
}
@media (max-width: 1500px) {
  .safari-box h3 {
    position: relative;
    display: block;
    font-size:18px;
    line-height: 25px;}

  /* .title_safari.JoinPadding{

    flex-direction: column;
    justify-content: center;
  } */
  .title_safari.JoinPadding .joinshareView{

    margin-top: 10px!important;
  }
  .placeholder_select {
    top: 9px;
  }
  .placeholder_select p {
    font-size: 14px;
  }
  .nav.nav-tabs {
    border-bottom: 0;
    margin-bottom: -0.7px;
  }
  .tag {
    font-size: 14px;
    padding: 2px 15px;
  }
  .parksImgireview img {
    height: 170px !important;
  }
  .dropdown-toggle {
    height: 60px;
    line-height: 9px;
  }
  .tab-mnu a {
    font-size: 14px;
  }
  .safrititles h5 {
    font-size: 20px;
  }
  .serch_btn button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .OrBox {
    width: 30px;
    height: 30px;
    right: -17px;
  }

  .form_review .form-group .form-select {
    font-size: 14px;
  }
  .sent_btn {
    padding: 4px 35px;
  }
  .content-center + .col-8 .text_get p {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  .googlerating.names h6,
  .title_filter h6,
  .form-wrapper label {
    font-size: 14px !important;
  }
  .getquote_box .form-select {
    padding: 6px;
    font-size: 14px;
  }
  .colors_p .suggest {
    font-size: 12px;
  }
  .title_top h4 {
    font-size: 14px;
  }
  .parkrevieBtn,
  .viewAllreview a,
  .itenary_text.boldsText p,
  .input_check label {
    font-size: 12px !important;
  }
}
@media (min-width: 1500px) {
  .container-fluid {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
  .padding_added {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  /* .searchSafari_parks .row .col-xl-3 {

        width: auto !important;
    } */
  .margin-added {
    margin-left: 77px !important;
  }
  .searchSafari_parks .parksImg {
    height: 265px !important;
    /* width: 265px; */
  }
  .searchSafari_parks .parksImg img {
    object-fit: cover;
  }
  .searchSafari_wraper .Slider_safariimg3 {
    height: 300px !important;
    width: 277px;
  }

  .searchSafari_wraper .Slider_safariimg3 img {
    object-fit: cover;
  }
  .searchSafari_wraper .safariSearch_wrap .seelctes_text {
    height: 120px !important;
    overflow: visible;
  }
  .searchSafari_wraper .safariSearch_wrap .taglines {
    margin-top: 17px;
  }

  .searchSafari_parks .parks_body {
    padding-bottom: 0;
  }

  .searchSafari_parks .parks_body .row {
    margin-top: 9px;
  }

  .searchSafari_parks .parks_body .seelctes_text {
    height: 120px !important;
    /* overflow: visible; */
  }
  .searchSafari_parks .parks_body .seelctes_text p {
    line-height: 19px;
  }
}

@media (min-width: 1400px) {
 
  .single-image img {
    height: 89% !important;
    min-height: 298px;
    object-fit: cover;
  }
  .slider_safariimg {
    height: 100% !important;
  }

  .safartabs .nav-tabs .nav-link {
    padding: 7px 35px;
  }

  .articals_wrapper.margin-setposi {
    margin-top: 290px !important;
  }
  .safari_wrapper.margin-setposi {
    margin-top: 290px !important;
  }
  /* Sticky sidebar styles */

  .margin-added {
    margin-left: 46px;
  }
}

@media only screen and (min-width: 1800px) {
  .footer_object img {
    margin-top: -22px;
  }

  .artical_cards .image-box .image img {
    height: 260px;
  }
  .imgsbox img {
    height: 600px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 1800px) {
  .inner_animals > img {
    height: 210px;
  }
  .imgsbox img {
    height: 600px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .inner_animals > img {
    height: 210px;
  }

  /* .sharesafribg {
    height: 440px;
  } */
}

@media only screen and (max-width: 1599px) and (min-width: 991px) {
  .imgsbox img {
    height: 600px;
  }
  .postthumbnail img {
    height: 47px;
    object-fit: cover;
  }
  /* .main_homebanner .banner_searchBox {
        position: absolute;
        top: 75.5%;
        height: 100%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
    } */
}

@media only screen and (max-width: 1500px) and (min-width: 991px) {
  .banner_section-inner.packagebnner .headingBnner_inner h1 {
    font-size: 30px;
  }
  .banner_section-inner .headingBnner_inner h1 {
    font-size: 30px;
  }
  .banner_section-inner .headingBnner_inner p {
    font-size: 19px;
  }
  .number-input button {
    line-height: 16px;
  }
  .topSlider_tour .items_slider img {
    height: 300px;
  }
  .logo {
    width: 180px;
  }
  .menu-navbar-nav .nav-item .nav-link,
  .input_check .form-select {
    font-size: 12px;
  }
  .initial_headers i {
    font-size: 20px;
  }
  .titlePrice,
  .titleDate h6 a,
  .footer_listing li a {
    font-size: 14px;
  }
  .joinsafari.package a,
  .icons_restro p,
  .icons p:last-child {
    font-size: 12px;
  }
  .header_wrapper {
    line-height: 22px;
  }
  .range-label span,
  .text_safari {
    font-size: 12px;
  }
  .menuprofile ul li a {
    font-size: 12px;
  }
  .form-control {
    font-size: 12px;
  }
  .btn_newsafari {
    font-size: 14px;
  }
  .heading-footer h6 {
    font-size: 19px;
  }
  .sharesafri-card.tourpackage .orgnizer_tour .icons_restro i {
    font-size: 16px;
  }
  .artical_cards .lower-content {
    padding: 31px 15px 25px 15px;
  }

  .safri_tour .titlerescent h3 {
    font-size: 14px;
  }
  .parks_text p,
  .joinsafari a {
    font-size: 12px;
  }
  .logo_provide2 {
    height: 120px;
  }
  .get_quote_btn {
    font-size: 13px;
  }

  /* .artical_cards .image-box .image img {

        height: 260px;

    } */
  .aritcla-details p {
    font-size: 15px;
  }
  .aritcla-details h1,
  .aritcla-details h2,
  .aritcla-details h3,
  .aritcla-details h5,
  .aritcla-details h6,
  .aritcla-details h4 {
    font-size: 22px;
  }
  .author_wrapper .artical-info li {
    font-size: 13px;
  }

  .tags-title {
    font-size: 22px;
  }

  .artical_cards .lower-content h3 {
    font-size: 18px;
  }
  .artical_cards .link a {
    width: 37px;
    height: 37px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
  }
  .text-form p {
    font-size: 12px !important;
  }

  .safartabs .nav-tabs .nav-link {
    font-size: 14px;
  }

  .dropdown-toggle {
    font-size: 14px;
  }
  .tourpackage .shareimg {
    height: 232px;
  }

  /* .shareimg {
    height: 150px;
  } */

  .Modal_label {
    font-size: 14px;
  }

  .coreZone h3,
  .bufferzone h3 {
    font-size: 18px;
  }

  .custoM-inputs .title_filter .input_check .form-check {
    font-size: 14px;
  }
  .tabledesigncore table td,
  .tabledesignbuffer table td {
    font-size: 12px;
  }
  .tabledesigncore table th,
  .tabledesignbuffer table th {
    font-size: 14px;
  }

  .seelctes_text p {
    font-size: 12px;
  }
  .pname {
    font-size: 14px;
  }
  .googlerating p {
    font-size: 11px;
  }
  .ratings p {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 768px) {
  .banner_section picture img {
    height: 600px;
    object-fit: cover;
  }
}


@media only screen and (max-width: 986px) and (min-width: 874px) {
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .articals_wrapper.margin-setposi {
    margin-top: 330px !important;
  }
  .safari_wrapper.margin-setposi {
    margin-top: 330px !important;
  }

  /* .menu-navbar-nav .nav-item .nav-link{

        font-size: 12px;
    } */

  .icons_select img {
    width: 20px;
  }

  .footer_object {
    top: -56px;
  }

  .parksImg img {
    object-fit: cover;
  }

  .mobile_width {
    width: 100%;
  }

  .budgetSeg .select2.select2-container.select2-container--krajee-bs5 {
    width: 210px !important;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1199.99px) {
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(1)
    .dropdown-toggle {
    width: 290px;
  }
 
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(1)
    .dropdown-toggle {
    width: 296px;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 991px) {
  .registratin_text h6 br {
    display: none;
  }
  .touroprators {
    padding: 9px 10px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .footer_object {
    top: -38px;
  }
}
@media only screen and (min-width: 768px) {
  .desktop_hideDiv.border_top2 {
    display: none;
  }

  .mobile_didplay_block {
    display: none;
  }
  .close_button {
    display: none;
  }
  /* .sticky-sidebar {
        position: fixed;
       width: 13%;
       left: 5%;
     } */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tourLogoes  .images_tour{

    height: 172px;
  }
  .terms-contionsSplasescreen{

    background-image: url(../img/loginpages.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(1)
    .dropdown-toggle {
    width: 48vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(2)
    .dropdown-toggle {
    width: 48vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(3)
    .dropdown-toggle {
    width: 48vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(4)
    .dropdown-toggle {
    width: 48vw;
  }
  .postthumbnail img {
    height: 70px;
    object-fit: cover;
  }

  .sahreSafari.desktop {
    display: none;
  }
  .sahreSafari.mobile {
    display: block !important;
    margin-right: 20px !important;
  }

  .sahreSafari.mobile .card-img {
    display: block !important;
  }
  .artical_cards .image-box .image img {
    height: 270px !important;
  }
  .touroprators {
    padding: 9px 10px;
  }
  .select_boxes .form-select {
    width: 370px;
  }
  .articals_wrapper.margin-setposi {
    margin-top: 400px !important;
  }
  .safari_wrapper.margin-setposi {
    margin-top: 400px !important;
  }
  .wrapper-skybgsafri .images_tour.select_safrai{

    height: 100%;
  }

  /* .placeholder_select {

        left: 17%;
    } */

  /* .main_homebanner .banner_searchBox {
        position: absolute;
        top: 69.5%;
        height: 100%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
    } */
}

@media only screen and (max-device-width: 1440px) and (min-device-height: 3000px) and (max-device-height: 3100px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #arrow {
    bottom: 48px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(1)
    .dropdown-toggle {
    width: 48vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(2)
    .dropdown-toggle {
    width: 48vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(3)
    .dropdown-toggle {
    width: 48vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(4)
    .dropdown-toggle {
    width: 48vw;
  }
  .touroprators {
    padding: 9px 10px;
  }
  .dropdown-container {
    width: auto;
    display: inline-block;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 991px) {
  /* .serch_btn button {

        width: 100%;
    } */
    .form-wrap {

      flex-wrap: wrap;
    }
    .form-wrap .form-wrapper{

      width: 100%;
    }
  .articals_wrapper.margin-setposi {
    margin-top: 381px !important;
  }

  .safari_wrapper.margin-setposi {
    margin-top: 381px !important;
  }

  .footer_object {
    top: -54px;
  }

  .placeholder_select {
    left: 16%;
  }

  /* .parksImg img {

        border-radius: 10px 10px 0px 0px;
    } */
}
@media only screen and (max-width: 991px) and (min-width: 990.98px) {
  .articals_wrapper.margin-setposi {
    margin-top: 510px !important;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px){

  .padding_mobileAdded{

    padding: 0px 45px;
    justify-content: center;
  }
  .title_safari.JoinPadding{

     flex-direction: column;
     text-align: center;
   
  }
  .title_safari.JoinPadding .joinshareView{

    padding-top: 10px;
  }
  .padditg_mobile {
    padding: 0px 40px;
}
  .sharesafribg{

    background: var(--background-primary) !important;
    height: auto !important;
    padding-top: 30px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 576px) {
  .mobile_width {
    width: 48%;
  }
}

@media only screen and (max-width: 842px) and (min-width: 768px) {
  .title_yellow.h1 {
    font-size: 89px;
  }

  .title_white.h4 {
    font-size: 29px;
  }
}

@media (min-width: 1200px) {
  .aritcal_bigimg img {
    height: 400px;
    object-fit: fill;
  }
  .paddingset_desktop {
    padding-right: 74px;
  }

  .images_tour {
    height: 150px;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .images_tour.select_safrai {
    height: 125px;
  }

  /* .banner_section picture img {

        height: 527px;
        object-fit: cover;
    } */
  .main_footer .terms {
    float: right;
  }
}

@media only screen and (min-width: 991px) {
  .moreviewMobile{

    display: none;
  }
  .terms-contionsSplasescreen{

    background-image: url(../img/loginpages.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
  .mobile_didplay_none {
    display: block;
  }
  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }

  .sahreSafari.mobile {
    display: none !important;
    margin-right: 20px !important;
  }

  .sahreSafari.mobile .card-img {
    display: none !important;
  }
  .navbar-nav {
    gap: 60px;
  }
  .padding-setDes {
    padding: 0px 63px 0px 3px !important;
  }

  .padding_left {
    padding-left: 63px !important;
  }

  .height_set {
    height: 480px;
    overflow: auto;
  }

  .height_set::-webkit-scrollbar {
    display: none !important;
  }
}

@media only screen and (max-width: 1400px) {
  .author_wrapper {
    padding-top: 10px;
  }
  .sharesafribg{

    background: var(--background-primary) !important;
    height: auto !important;
    padding-top: 15px;
    border-radius: 10px;
  }
  /* .sharesafribg{

    height: 470px;
  } */

  .searchSafari_wraper .seelctes_text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3); /* Fallback line clamp */
    -webkit-box-orient: vertical;
    line-clamp: var(--line-clamp, 3); /* For browsers that support it */
    box-orient: vertical;
  }
  .seelctes_text {
    padding-bottom: 0 !important;
  }
  .safarishareBox {
    position: relative;
    left: 0;
  }

  /* .registratin_text h6 br {

        display: none;
    } */

  .intested_btn2 {
    font-size: 14px;
  }

  /* .banner_section-inner picture img {

        height: 250px;
        object-fit: cover;
    } */
  .banner_section-inner .banner_search {
    height: 250px;
    object-fit: cover;
  }
}

@media (max-width: 1199px) {
  .banner_section-inner .banner_search {
    height: 300px;
  }
  .searchSafari_wraper .seelctes_text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2); /* Fallback line clamp */
    -webkit-box-orient: vertical;
    line-clamp: var(--line-clamp, 2); /* For browsers that support it */
    box-orient: vertical;
  }
  .serch_btn button {
    width: 100%;
    padding: 15px 31px;
  }

  /* .safari_create {

        width: 100%;
        margin-top: 15px;
    } */

  .creat-safri {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .serch_btn button {
    margin-top: 10px;
  }
  .banner_searchBox {
    position: absolute;
    top: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .itenary_tabs .safartabs .nav-tabs.slider_addmobile2  .nav-link{

text-align: center !important;
  }
  .terms a,.copyright p{

    font-size: 14px;
  }

  .itenary_tabs .safartabs .nav-tabs.slider_addmobile{

    gap: 30px !important;
  }
  .sent_btn {
    padding: 4px 25px;
}
  .searchSafari_parks .parks_body .seelctes_text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 5); /* Fallback line clamp */
    -webkit-box-orient: vertical;
    line-clamp: var(--line-clamp, 5); /* For browsers that support it */
    box-orient: vertical;
  }
  .select_boxes .form-select {
    border-radius: 10px !important;
  }

  .dropdown-container .dropdown-toggle {
    border-radius: 10px !important;
  }

  .budgetSeg .select2.select2-container.select2-container--krajee-bs5 {
    width: 100% !important;
  }

  .budgetSeg
    .select2.select2-container.select2-container--krajee-bs5.select2-container--below.select2-container--focus {
    width: 174px !important;
  }

  /* .Slider_safariimg3 img {

        border-radius: 10px;
    } */
  .websitebtn a {
    padding: 10px 22px;
  }

  .menuprofile ul li a {
    padding: 4px 10px;
  }
  .menuprofile ul {
    line-height: 28px;
  }
  .menu-navbar-nav .nav-item:hover::after {
    bottom: -2px;
  }

  .dropdown-toggle {
    height: 60px;
    line-height: 9px;
  }
  .placeholder_select {
    top: 8px;
  }
  .padding_ic img {
    padding: 3px;
  }
  .serch_btn button {
    padding: 17px 31px;
  }
  .offcanvas-header svg {
    width: 34px;
    height: 24px;
  }

  /* .sharesafribg {
    height: 400px;
  } */
}

@media only screen and (max-width: 1024px) and (min-width: 993px) {

  .card_bodyPadding .card-body {
    padding: 24px 18px 15px 18px !important;
}
}
@media only screen and (max-width: 870px) and (min-width: 768px){

  .margin_n5 {
    margin-top: 23px ;
}
}
@media only screen and (max-width: 1399px) and (min-width: 768px) {
  .safartabs .nav-tabs .nav-link {
    padding: 7px 20px;
  }
  /* .safartabs .nav-tabs .nav-link {
    font-size: 12px;
  } */
  .safartabs .intested_btn {
    font-size: 12px;
  }
  .seelctes_text p {
    font-size: 14px;
  }
  .single-image img {
    height: 89% !important;
    object-fit: cover;
  }
  .slider_safariimg {
    height: 100% !important;
  }
  .text-form p {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .px-slider{

    padding: 0 !important;
  }
  .topSlider_tour .items_slider img{
    border-radius: 0 !important;
  }
  .copyright p {
    padding-top: 20px;
  }
  .terms p{

    padding-top: 10px !important;
  }
  .modal {
    --bs-modal-width: 700px;
  
  }
  .menunotification .notification-read a{

    line-height: 20px;
  }
  .menunotification .notification-not-read a{
    line-height: 20px;

  }
  .mobile-hidelink{

    display: none;
  }
  .form-wrap{

    flex-wrap: wrap;
  }
  .mobileAccordion.itenary_tabs .safartabs .accordion-item .accordion-collapse.bg-set{

     border-radius: 0px 0px 10px 10px!important;
     border: 0 !important;

  }


  .mobileAccordion.itenary_tabs  .tab-pane{

border-bottom: 1px solid #0000004d;
margin-bottom: 0 !important;
  }
  .mobileAccordion.itenary_tabs .safartabs .accordion-item .card_bodyPadding.bg-set{

    margin-bottom: 13px;
  }
  /* .mobileAccordion.itenary_tabs .safartabs .accordion-item > .accordion-header .accordion-button{

    border-top-left-radius:0 !important;
    border-top-right-radius:0 !important;
  }
  .mobileAccordion.itenary_tabs .safartabs .accordion-item {

    border: 1px solid #0000004d !important;
  } */

  .packageSfari .imagesSafari img{

    height: 230px;
    max-height: 230px;
  }

  .padding_mobileAdded{

    justify-content: center;
  }

  .banner_section-inner.packagebnner .headingBnner_inner h1 {
    font-size: 28px;
  }

  .mobile_didplay_none .join_btn {
    padding: 9px 35px !important;
  }
  .images_tour {
    height: 250px;
  }
  .logoutBox {
    position: absolute;
    padding: 4px 10px;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    border-top: 1px solid #0000004d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .menuprofilemobile ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  .menuprofilemobile ul li {
    list-style: none;
    line-height: 38px;
    padding-left: 7px;
  }
  .menuprofilemobile ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-weight: 700;
    align-items: center;
    font-size: var(--fs-14);
    gap: 16px;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
  }

  .menuprofilemobile ul li a i {
    font-size: 14px;
    color: #9c999f;
    padding-right: 10px;
  }
  .navbar-nav.menu-navbar-nav {
    align-items: flex-start !important;
  }
  .card-img {
    display: none;
  }
  .proilewrapper {
    display: none;
  }
  .sahreSafari {
    margin-left: 0 !important;
    padding-left: 0;
    height: auto;
    padding-top: 12px;
  }

  .offcanvas-header {
    background-color: #09422d;
  }

  .sahreSafari {
    box-shadow: none;
  }
  .sahreSafari {
    border-bottom: 1px solid #09422d;
    width: 100%;
  }
  .navbar-toggler {
    border: 0 !important;
  }

  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .navbar-toggler i {
    color: var(--colorwhite);
    font-size: 30px;
  }

  .menu-navbar-nav .nav-item.active::after {
    bottom: -2px;
  }

  .menu-navbar-nav .nav-item {
    line-height: 43px;
    border-bottom: 1px solid #09422d;
    width: 100%;
  }

  .menu-navbar-nav .nav-item .nav-link {
    color: #09422d;
    padding: 0 !important;
  }
  .header_wrapper {
    line-height: 50px !important;
  }
  .flex-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .contact_p p {
    margin-bottom: 0;
  }
  .banner_section-inner picture img {
    height: 230px;
  }
  .banner_searchBox {
    top: 50%;
  }
  .menuprofile {
    right: 10px;
  }
  .sahreSafari h5 {
    padding-bottom: 6px;
  }
  .sahreSafari {
    border-bottom: 1px solid #09422d;
    width: 100%;
  }
  .errorPage {
    height: 100vh;
  }
  .imgsbox img {
    height: 100vh;
  }
  .sahreSafari {
    box-shadow: none;
  }
  .safartabs .accordion-item {
    border-radius: 0 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #0000004d;
  }

  .tab-content > .tab-pane {
    display: block ;
    opacity: 1 ;
  }

#user-form .tab-content > .tab-pane {
  display: none ;
}
#user-form .tab-content > .active {
  display: block;
}
#user-form .tab-content > .active {
  display: block;
}
.itenary_tabs .account-settingside.safartabs .nav-tabs{

  gap: 15px !important;
}

  .header_wrapper.navigation_hide {
    line-height: 30px;
  }

  .creat-safri .safari_create br {
    display: none;
  }

  .sahreSafari.active {
    background-color: transparent;
  }
}

@media only screen and (max-width: 991px) {
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(4)
    .placeholder_select {
    left: 6% !important;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(4)
    .dropdown-toggle {
    padding-left: 29px;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(1)
    .dropdown-toggle {
    padding-left: 29px;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(3)
    .dropdown-toggle {
    padding-left: 29px;
  }
  .planSearch_box .placeholder_select {
    left: 6% !important;
  }

  #flashMessage {
    right: 35px;
  }
  #targetDiv {
    background-color: #faf7f3;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    left: 0px;
    display: none;
  }
  /* .filter-wrapper {

        opacity: 0 !important; 
        pointer-events: none !important;
    } */

  .nav-link {
    padding: 0;
  }
.card.account-settingside .nav-link{

padding:0.5rem  1rem!important;

}

  .card-img {
    display: none;
  }

  .inner_animals > img {
    height: 225px;
    object-fit: cover;
    width: 100%;
  }

  .inner_animals .safariBox {
    text-align: center;
  }

  .mobile-responsive {
    text-align: center;
  }

 

  .terms p {
    padding-top: 20px;
  }

  .border_bottom_mobile {
    border-bottom: 1.5px solid #0000004d;
  }

  .border-right.border_bottom_mobile {
    border-right: 0;
  }

  .author_wrapper .artical-info {
    padding-top: 10px !important;
  }

  /* .banner_section-inner img {

        height: 300px;
        object-fit: cover;
    } */
  .banner_section-inner .banner_search {
    height: 330px;
    object-fit: cover;
  }

  .parksImg img {
    border-radius: 10px 10px 0px 0px;
  }

  .form-wrapper .input-group2 {
    width: 50%;
  }
  .form-wrap  .form-wrapper{

    width: 49%;
  }
}

@media only screen and (max-width: 767px) {
  

  .topSlider_tour .owl-dots {
    position: absolute;
    bottom: -7px;}
  .flowers-content{

    justify-content: center;
    text-align: center;
    gap: 30px;
  }
  .flowers-content p{

    margin-right: 0;
  }
  .sociel_icons.float-md-end ul{

    justify-content: center;
    margin-top: 15px;
  }
  .margin_n5{

    margin-top: 30px;
  }
  .coverbtns span{

display: none;
  }
  .coverbtns{

    padding: 6px 11px;
  }


  .terms-contionsSplasescreen{

    background-image: url(../img/loginpages.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
  .paddiinTop_add{

    padding-top: 25px;
  }
  .tag {
    font-size: 14px;
  }
  .title_safari.JoinPadding{

    flex-direction: column;
    text-align: center;
  }

  .postthumbnail img {
    height: 50px;
    object-fit: cover;
  }
  .desktop_postion.border_top2 {
    display: none;
  }
  .desktop_hideDiv {
    display: inline-flex !important;
  }
  .safrititles .date_bx h6 {
    margin-bottom: 0;
    font-size: 16px;
  }
  .btn_newsafari.organizeBtn {
    width: 100%;
  }
  .social-share {
    padding-top: 10px;
  }
  .border_bottom2 .border-right {
    border-right: 0;
  }
  .mobile_didplay_none {
    display: none !important;
  }
  .mobile_didplay_block {
    display: block !important;
  }
  .sahreSafari.desktop {
    display: block;
  }
  .sahreSafari.mobile {
    display: none !important;
  }
  .sahreSafari.mobile .card-img {
    display: none !important;
  }

  .articals_wrapper.margin-setposi {
    margin-top: 170px !important;
  }
  .fixedbanner .banner_section-inner picture {
    display: none;
  }

  .fixedbanner .banner_section-inner {
    background: #09422d;
    height: 130px;
  }
  .desktop_search {
    background-color: #09422d;
    padding: 10px 10px 30px 10px;
    position: absolute;
    left: 0;
    top: -31px;
    width: 100%;
  }
  .mobile_searchBox {
    padding: 10px 17px 10px 13px;
    cursor: pointer;
    background-color: #fff;
    height: 50px;
    border-radius: 10px;
  }
  .mobile_searchBox .select_boxes {
    white-space: nowrap;
    overflow: hidden;
  }
  .mobile_searchBox .select_boxes h6 {
    margin-bottom: 0;
  }
  .mobile_searchBox .select_boxes .icomns i {
    font-size: 20px;
    line-height: 40px;
  }
  .mobile_searchBox .select_boxes .fs-5 {
    font-size: 14px !important;
  }
  .banner_section-inner {
    margin-top: 60px !important;
  }
  /* .banner_section{

        margin-top: 60px !important;
    } */
  .title_white.h4 {
    font-size: 20px;
  }

  .title_yellow.h1 {
    font-size: 60px;
  }

  .logo_area {
    left: 50%;
    transform: translateX(-50%);
    top: 28px;
  }

  .logo_area img {
    width: 200px;
  }

  .header_wrapper {
    height: 60px;
    line-height: 36px !important;
  }

  .logo {
    width: 200px;
  }

  .select_boxes .form-select {
    width: 100%;
  }

  .banner_section picture img {
    height: 700px;
    object-fit: cover;
  }

  /* .sharesafribg {
    background: var(--background-primary) !important;
    height: auto;
    padding-top: 15px;
    border-radius: 10px;
  } */
  .padditg_mobile {
    padding: 0px 20px;
  }

  .sharesafribg.home .shareimg {
    height: 258px;
  }

  .safari_content h3 {
    font-size: var(--fs-18);
  }

  .btn-knowmore {
    font-size: var(--fs-18);
  }

  .banner_section-inner .banner_search {
    height: 500px;
    object-fit: cover;
  }

  /* .footer_object{

        top: -50px;
        left: -113px;
    } */
  /* .footer_object img{

        width: auto;
    } */
  .footer_object img {
    margin-top: -27px;
  }

  :root {
    --fs-35: 24px;
  }

  .commentsOther {
    padding: 10px 14px 10px 21px;
  }

  /* .inner_animals>img {

        height: 160px;
    } */
  .safariBox {
    top: 11%;
  }

  .imag_width {
    width: 100%;
  }

  .term-condition p {
    padding-left: 0px;
  }

  /* .main_homebanner .banner_searchBox {
        position: absolute;
        top: 63%;
        height: 100%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
    } */
}
@media only screen and (max-width: 710px) and (min-width: 576px) {
  .slider_safariimg {
    height: 90%;
  }
  .single-image img {
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 699px) and (min-width: 576px) {
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(1)
    .dropdown-toggle {
    width: 47vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(2)
    .dropdown-toggle {
    width: 47vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(3)
    .dropdown-toggle {
    width: 47vw;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(4)
    .dropdown-toggle {
    width: 47vw;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  /* .safarishareBox .row .col-xxl-3 {
        padding: 0px 150px;
    } */
 
  .sharesafribg.home .shareimg {
    height: 188px;
  }
}

@media (max-width: 575px) {
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(1)
    .dropdown-toggle {
    width: 100%;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(2)
    .dropdown-toggle {
    width: 100%;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(3)
    .dropdown-toggle {
    width: 100%;
  }
  .planSearch_box
    .select_searcjBox
    .select_boxes:nth-child(4)
    .dropdown-toggle {
    width: 100%;
  }

  .OrBox {
    top: 45px;
    right: 42%;
    transform: translateX(-50%);
    width: 38px;
    height: 38px;
  }
}
@media only screen and (max-width: 575px) and (min-width: 420px) {
  .safarishareBox .row .col-xxl-3 {
    padding: 0px 50px;
  }
}

@media (min-width: 576px) {
  .title_white br {
    display: none;
  }
  .inner_animals:hover::after {
    background: rgba(0, 0, 0, 0.2);
  }

  .inner_animals:hover .imag_width {
    -webkit-transform: scale(1.1);

    -ms-transform: scale(1.1);

    transform: scale(1.1);
    -webkit-transition: all 0.5;
    -o-transition: all 0.5;
    transition: all 0.5;
  }
}

@media only screen and (max-width: 575px) and (min-width: 420px) {
  .postthumbnail img {
    height: calc(
      15vw
    ) !important; /* Adjust the 10vw to whatever proportion of the viewport width you desire */
    max-height: 80px !important; /* Optional: set a maximum height */
    object-fit: cover; /* This maintains the aspect ratio and covers the area */
  }
}
@media only screen and (min-device-width: 200px) and (max-device-width: 576px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .select_searcjBox .select_boxes {
      margin-bottom: 5px; 
  }
}
@media only screen and (max-width: 576px) {
  .two-line-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
   
}
  .menunotification{

    width: 100%;
    right: 0;
  }
  .commentsOther .objec-flgs{

    right: 10px;
  }
  .flags_reply .flagBtn{

    right: 2px;
  }
  .artical_cards .lower-content h3{

    line-height: 26px;
  }
  .profile_coverbnner .follow_massge{

    padding: 8px 11px !important;
  }
  .articald-title{

    font-size: 22px;
    line-height: 30px;
  }
  .mobile_searchBox .select_boxes .fs-5{

    font-size: 12px !important;
  }
  .mobile_searchBox .select_boxes .icomns i{
    font-size: 12px;
  }
  .mobile_searchBox .select_boxes + i{

    font-size: 12px !important;
  }
  .profile_coverbnner .banner-cover{

    height: 200px;
    padding: 0px;
  }
  .itenary_tabs .nav-tabs .nav-link{

    font-size: 14px;
  }

  .title_tours h3{

    margin-bottom: 10px;
  }
  .legends_bx p{

    font-size: 12px;
  }
  .wrapper-skybgsafri{

    padding-left: 5px;
    padding-right: 5px;
  }
  .form-wrapper .input-group2{

    width: 100%;
  }
  .border_setgetting .form-wrapper{

    width: 100%;
  }
  .topSlider_tour .items_slider img{

    height: 200px;
  }
  .mobile_loginconditions .modal-content{

    height: 100%;
    border-radius: 0;
    border: 0;
  }
  .mobile_loginconditions .modal-dialog{

padding: 0;
margin: 0;
  }
  .mobile_loginconditions .modal-dialog-scrollable{

    margin: 0;
    min-height: 100vh !important;
    border-radius: 0 !important;
  }
  .banner_section-inner.packagebnner .headingBnner_inner h1{

    font-size: 24px;
  }
  .postthumbnail img {
    height: 100px;
    object-fit: cover;
  }
  .padditg_mobile {
    padding: 0px 20px;
  }
  .Slider_safariimg3 img {
    border-radius: 10px 10px 0px 0px !important;
  }
  .artical_cards .image-box .image img {
    height: 275px !important;
  }
  .sharesafri {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .navbar-toggler i {
    font-size: 25px;
  }
  .dropdown-toggle {
    font-size: 14px;
  }
  .img-box2 svg {
    width: 28px;
    height: 28px;
  }

  /* .main_homebanner .banner_searchBox {
        position: absolute;
        top: 59%;
        height: 100%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
    } */

  .title_yellow.h1 {
    font-size: 48px;
  }

  .title_white.h4 {
    font-size: 25px;
  }

  .logo {
    width: 160px;
  }

  .banner_section-inner .banner_search {
    height: 500px;
    object-fit: cover;
  }

  .banner_section-inner .headingBnner_inner h1 {
    font-size: 24px;
  }

  .title_web h2 br {
    display: none;
  }

  .title_web {
    padding: 5px 0px;
  }

  .btn_registrtion {
    padding: 10px 35px;
    font-size: 14px;
  }

  .registratin_text {
    width: 76%;
  }

  .registratin_text h6 {
    font-size: var(--fs-16);
  }

  .bg_sky {
    padding: 70px 0px 50px 0px;
  }

  .artical_cards .lower-content h3 a {
    font-size: var(--fs-20);
  }

  .artical_cards .lower-content {
    padding: 31px 12px 37px 12px;
  }

  .headingBnner h1 {
    font-size: 22px;
    line-height: 32px;
  }

  .tab-block .tab-mnu li {
    padding: 4px 5px;
  }
  .tab-block .tab-mnu li img {
    width: 29px;
  }

  .coreZone,
  .bufferzone {
    padding: 15px 10px;
    border-radius: 10px 10px 0px 0px;
  }

  .title_tours {
    flex-wrap: wrap;
    gap: 2px !important;
  }

  .banner_section-inner .headingBnner_inner p {
    font-size: var(--fs-20);
  }

  /* .footer_object{

        top: -50px;
        left: -219px;
    }
    .footer_object img{

        width: auto;
    } */
  /* .footer_object img {
        width: 1120px;
    } */
  /* .footer_object {
        top: -49px;
        left: -197px;
    } */
  .footer_object img {
    margin-top: -2px;
  }

  .serch_btn button {
    padding: 12px 30px;
  }

  .safariduring_sesons.innerpage {
    padding-bottom: 100px;
  }

  .title_tours p {
    padding-top: 10px;
  }

  .footerContent.legal ul li a {
    font-size: 14px;
  }

  .footer_listing li a {
    font-size: 14px;
  }

  .copyright p {
    font-size: 14px;
  }

  #arrow {
    left: 43%;
    transform: translateX(-43%);
  }

  .formInput .form-control,
  .formInput .form-select {
    font-size: 14px;
  }

  .mobile_width {
    width: 100%;
  }

  .formInput .input_check label {
    font-size: 14px;
  }

  .arrowIcon {
    top: 65px;
  }

  :root {
    --fs-35: 22px;
  }

  .safariBox {
    top: 4%;
  }

  .safari_content h3 {
    font-size: 14px;
  }

  .safari_content p {
    font-size: 14px;
  }

  .btn-knowmore {
    font-size: 14px;
  }

  .inner_animals > img {
    height: 180px;
  }

  .safari_content p {
    font-size: 13px;
  }

  .btn-knowmore {
    font-size: 15px;
  }
  .top_filterwrap .title_top h4 {
    font-size: 15px;
  }
}

@media (max-width: 420px) {

  .OrBox {
    top: 45px;
    right: 42px;
    width: 38px;
    height: 38px;
  }
  .topSlider_tour .items_slider img{

    height: 120px;
  }
  .inner_animals > img {
    height: 140px;
  }
  .postthumbnail img {
    height: calc(
      15vw
    ) !important; /* Adjust the 10vw to whatever proportion of the viewport width you desire */
    max-height: 80px !important; /* Optional: set a maximum height */
    object-fit: cover; /* This maintains the aspect ratio and covers the area */
  }
  /* .main_homebanner .banner_searchBox {
        position: absolute;
        top: 56%;
        height: 100%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 0;
    } */
  .intested_btn {
    padding: 9px 12px !important;
  }
  .join_btn {
    padding: 11px 12px;
  }

  .safariBox {
    top: 11%;
  }

  .placeholder_select {
    left: 16%;
  }

  .title_yellow.h1 {
    font-size: 35px;
  }

  .title_white.h4 {
    font-size: 19px;
  }

  .footer_object img {
    margin-top: 17px;
  }

  .arrowIcon {
    top: 84px;
  }
}
@media only screen and (max-width: 680px) and (min-width: 577px) {
  .placeholder_select {
    left: 12%;
  }
}
@media only screen and (max-width: 991px) and (min-width: 577px) {
  .parksImg img {
    border-radius: 10px 0px 0px 10px !important;
  }
  .parksImg img {
    object-fit: cover;
  }
  .searchSafari_parks .parks_body .seelctes_text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3); /* Fallback line clamp */
    -webkit-box-orient: vertical;
    line-clamp: var(--line-clamp, 3); /* For browsers that support it */
    box-orient: vertical;
  }
  .banner_section-inner .headingBnner_inner h1 {
    font-size: 32px;
  }
  .banner_section-inner .headingBnner_inner p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 576px) and (min-width: 427px) {
  .placeholder_select {
    left: 14%;
  }
}
@media only screen and (max-width: 475px) and (min-width: 421px) {

  .inner_animals > img {
    height: 150px;
}
}
@media only screen and (max-width: 426px) and (min-width: 341px) {
  .placeholder_select {
    left: 16%;
  }
}
@media (max-width: 340px) {
  .placeholder_select {
    left: 22%;
  }
  .inner_animals > img {
    height: 110px;
  }
  .two-line-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}
.safariBox {
  top: 6%;
}
  .header_wrapper .container-fluid{

flex-wrap: nowrap;
  }
  .logo {
    width: 136px;
}
.initial_headers{

  gap: 14px !important;
}
.coverbtns{

  right: 16px;
}
.itenary_tabs .safartabs .nav-tabs.slider_addmobile{

  gap: 13px !important;
}
.itenary_tabs .nav-tabs .nav-link{

  font-size: 12px !important;
}
.left_text p{
  font-size: 12px;
}
.btn-info.bg-blues{

  padding: 4px 17px;
  font-size: 12px;
}
.packageSfari .imagesSafari img {
  height: 150px !important;
  max-height: 150px !important;
}
.card_bodyPadding .card-body {
  padding: 24px 18px 15px 18px !important;
}
}
@media (max-width: 305px) {
  .footer_object img {
    margin-top: 28px;
  }
}

@media (max-width: 480px) {
  .tag {
    font-size: 12px;
  }
}

.necessary {
  color: red;
}
